.material-form {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid, black;
    border-radius: 10px;
    width: calc(100vw - 2vw - 2px);
    padding: 0;
    margin: 1vh 1vw;
}

.form-top {
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.processed-checkbox {
    display: inline-flex;
    margin: 0 2%;
    width: 100%;
}

.country-input {
    margin: 0 4%;
    width: 100%;
    height: fit-content;
}

.country-input select {
    width: 100%;
}

.material-input {
    margin: 0 2%;
    width: 100%;
    height: fit-content;
}

.price-input {
    margin: 0 2%;
    width: 100%;
    height: fit-content;
}

.country-list {
    display: flex;
    flex-grow: 1;
    width: 100%;
    border: 0 solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.country-sell-price {
    display: inline-flex;
    align-items: center;
    height: min-content;
    width: 100%;
}

.sell-price-country {
    width: fit-content;
    height: 20%;
    padding: 10px 5% 10px 2%;
    margin: 0;
}

.sell-price-input {
    width: 50%;
    height: 20%;
    padding: 0;
    margin: 0;
}

.sell-price-input-box {
    width: 100%;
    padding: 0;
    margin: 5%;
}

.submit-btn {
    margin: 5px 2%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bottom-border {
    border-bottom: 1px solid black;
}

.form-header {
    margin: 5px 0;
    padding: 0;
}

.raw-materials-checklist {
    width: 100%;
    border-bottom: 1px solid black;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.raw-materials-checklist-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    margin: 0;
    padding: 0;
}

.raw-materials-checklist-item * {
    padding: 0;
    margin: 5px 2.5%;
}