.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-flex p {
    margin: 0;
    padding: 0;
}

.bottom-border {
    border-bottom: 1px solid black;
}

.top-border {
    border-top: 1px solid black;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.center h2 {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.material-list {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    width: calc(100vw - 2vw - 2px);
    height: min-content;
    margin: 1vh 1vw;
}

.material {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.country-material {
    display: inline-flex;
    width: 100%;
    margin-left: 10%;
}